GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_DATABASE=your-firestore-database
AUTO_NOTIFY_COLLECTION=your-firestore-collection
GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json
FUNCTION_NAME=auto-notify
FUNCTION_SERVICE_ACCOUNT=your-service-account@$GOOGLE_CLOUD_PROJECT.iam.gserviceaccount.com
CRON_SCHEDULE=10 23 * * *
GOOGLE_CLOUD_REGION=asia-southeast2
